#scoreSummary table {
  width: 100%;
  border-color: var(--bs-border-color);
}
#scoreSummary td {
  text-align: Center; 
  vertical-align: Middle; 
  font-style: normal;
  padding: 6px 5px 5px 5px;
  min-width: 20px;	
  font-family: Arial;
  font-size: 13px;
}
/* Ссылки внутри таблицы */
#scoreSummary a {
  color: var(--bs-primary-link-color, var(--bs-primary-text)); /* белый текст по умолчанию */
  text-decoration: underline; /* если хотите подчеркнутые ссылки */
}

/* При наведении */
#scoreSummary a:hover {
  color: var(--bs-primary-link-hover, var(--bs-primary-text-emphasis)); /* можно чуть светлее, чтобы выделялось */
}

/* thead */
#scoreSummary tr:nth-child(2) td {
  white-space:nowrap;
}
#scoreSummary tr:nth-child(-n+2) td {
  background-color: var(--bs-primary-bg, var(--bs-primary));
  color: var(--bs-primary-text, var(--bs-white));
  border-left-color:#FFFFFF; border-left-style: solid; border-left-width: 1px;
  border-bottom-color:#FFFFFF; border-bottom-style: solid; border-bottom-width: 1px;
}

/* tbody */
#scoreSummary tr:nth-of-type(-n+5) { 
  font-weight: bold; 
}
#scoreSummary tr:nth-child(n+3) td { 
  border-bottom-color:#C0C0C0; border-bottom-style: solid; border-bottom-width: 1px;
}
#scoreSummary tr:nth-child(n+3) td:nth-child(3) { /* FIO column */
  white-space: nowrap !important;
  text-align: Left; vertical-align: Middle;
}
/* footer*/
#scoreSummary tr:nth-last-child(-n+2) td {
  border-bottom-style: none;
}
#scoreSummary tr:nth-last-child(1) td {
 text-align: Right; vertical-align: Middle;
}


/* video link icon */
.link {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  gap: 6px;  /* расстояние между текстом и иконкой */
  margin-left: 5px; 
  font-size: 1.0rem;
  vertical-align: middle;
}
.link::after {
  content: "";
  width: 1em;
  height: 1em;
  display: inline-block;
  background-color: currentColor; /* берёт цвет текста */
}
.link:hover::after {
  transform: scale(1.3);
}
/* для другой icon заменить svg. 
Все " в SVG нужно заменить на '.
Все # нужно закодировать как %23 (иначе CSS сломается).
*/
.link-play::after {
  -webkit-mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path d='M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814z'/></svg>") no-repeat center / contain;
  mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path d='M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814z'/></svg>") no-repeat center / contain;
}


/* show draw */
span.draw-img img { 
	width: 100px !important;
	vertical-align: top;
	margin: 5px;
	max-width: none !important;
}
span.draw-img {
	max-width: 700px;
	background: #555;
	position: absolute;
	left: 30%;
	padding: 5px;
	z-index: 9999;
}
