table {
	width: 100%;
}
table, th, td {
	border-collapse: collapse; font-family: Arial; font-size: 13px;
}
tr {
	border: 0px;
}
td {
	text-align: center; min-width: 12px; margin-left:3px; margin-right:3px; height:27px;
}
tr:nth-child(-n+1) td {
	text-transform: uppercase; white-space: nowrap; font-weight: bold; padding: 2px; color: white; font-size: 2.2em; 
}
tr:first-child {
	/*background-image: conic-gradient(from 90deg at 50% 50%, ForestGreen, CadetBlue, DeepPink);*/
	background-image: radial-gradient(circle at center, purple, orange);
}
td img {
	max-height: 480px; max-width:640px;
}