table, th, td {
	border-collapse: collapse; padding: 2px; font-family: Arial; font-size: 13px;
}
tr {
	border-bottom: 1px solid black;
}
tr:nth-child(1) { 
	border-width: 0px; 
}
tr:nth-child(2) { 
	font-weight: bold; color: blue;
}
tr td:first-child { 
	text-align: left; font-weight: bold;
}
tr:nth-last-child(-n+2) {
	border: 0px;
}
tr:nth-last-child(3) {
	font-weight: bold; 
}
td {
	text-align: center; min-width: 13px;
}
