table, th, td {
	border-collapse: collapse; font-family: Arial; font-size: 13px;
}
tr {
	border-bottom: 1px solid black;
}
tr:nth-child(1) { 
	border-width: 0px; 
}

/*tr:nth-child(2) { 	font-weight: bold; }
tr:nth-child(2) td { 	font-size: 2em; color: white; background-color:#0d6efd;}*/

/* первая колонка */
tr td:first-child { 
	text-align: left; font-weight: bold;
}
.noborder { 
	border: 0px;
}
.bordered {
	border-bottom: 1px solid black;
}
tr:nth-child(4) { 
	font-weight: bold; padding: 2px; color: white; background-color:grey;
}
td {
	text-align: center; min-width: 13px;
}
.totalrow td {
	font-weight: bold; font-size: 1.2em; color: #0d6efd; border-bottom: 1px solid black;
}
tr:nth-child(even) {
	background-color: #f2f2f2;
}
tr:last-child td { 
	text-align: center; font-weight: bold;
}

