
Kind regards
The OPTIMUS Team
<!-- ПОДПИСЬ -->
<tr><td>
<table style="border: 0px;width: 100%;background: white;border-spacing: 0px;">
<tr><td style="background: #b3d4fc;text-align: center;">
	Больше новостей в<a href="http://skydive.dp.ua/blog/index.php"> нашем блоге</a>
</td></tr>
<tr><td>
	<small>Вы получити это письмо, потому что подписаны на рассылку на сайте <a href="http://skydive.dp.ua/">Skydive.dp.ua</a><br>
	По вопросам касательно этой подписки пишите на info@skydive.dp.ua<br>
	Вы можете отказаться от получения новостей и специальных предложений <a href="http://skydive.dp.ua/signup.php?del-email={{email}}">отписавшись</a> от этой рассылки.</small>
</td></tr>
</table>
</td></tr>


</table>

</body>
</html>
